<mat-toolbar color="primary">
  <img src="https://www.apple.com/ac/globalnav/3/en_IN/images/globalnav/apple/image_large.svg" alt="apple" class="logo">
  <h2 class="title">
    <a href="{{ titleURI }}">
      {{title}}
    </a>
  </h2>
</mat-toolbar>

<div class="contents">
  <div class="container">
    <div class="album"
    [style.backgroundImage]="'url('+ post['im:image'][2]?.label +')'" 
    *ngFor="let post of posts">
      <a href="{{post?.link.attributes.href}}">
          <div class="tint">
              <div class="detail">
                <div class="a-title">
                  {{ post.title.label | slice:0:20 }} ...
                </div>
                <span>
                  <a href="{{ post['im:artist']?.attributes?.href }}">
                    {{ post['im:artist']?.label | slice:0:20 }}
                  </a>
                </span>
              </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="footer">
  <span>
    {{ copyright }}
  </span>
</div>
