.logo {
  margin: 0 1em
}

.mat-toolbar {
  border-bottom: .5px solid #ffffffbf;
  background-color: #000000;
  position: fixed;
  width: 100vw;
  margin: -.5em;
  z-index: 999;
}

.title {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.contents {
  min-height: 100vh;
  padding: 2em;
  padding-top: 6em;
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .album {
      width: 170px;
      height: 170px;
      margin: 1.5em;
      background-size: cover;
      transition: .35s ease-out;
      .tint {
        display: flex;
        flex-direction: column;
        width: 170px;
        height: 170px;
        transition: .35s ease-out;
        background: linear-gradient(0deg, rgba(8,8,8,1) 23%, rgba(255,255,255,0) 36%, rgba(255,255,255,0) 87%, rgba(0,0,0,1) 100%);
        .detail {
          display: flex;
          flex-direction: column;
          margin: auto auto 0 auto;
          font-size: 0.75em;
        }
      }
    }
  }
}

.footer {
  text-align: center;
  span {
    font-weight: lighter;
    color: #909090;
  }
}

.search {
  margin: 0 5em;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  border: 2px solid #545454;
  padding: 1em;
  width: 100%;
  border-radius: .5em;
  max-height: 1.5em;
  transition: .35s ease-in;
}

.search:focus {
  outline: none;
  border-radius: 1em;
  border: 2px solid #ecececee;
  transform: scale(1.05);
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .title {
    display: none;
  }
  .search {
    margin: 0 1em;
  }
  .album, .tint {
    width: 260px !important;
    height: 260px !important;
  }
}